/*
	Name: Reset Stylesheet
	Description: Resets browser's default CSS
	Author: Eric Meyer + Thomas Bris
	Author URI: https://meyerweb.com/eric/tools/css/reset/
*/

/* v1.0 | 20080212 */
* {
	background: transparent;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-style: normal;
	margin: 0;
	min-height: 0;
	min-width: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

/*
blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
} */

/* remember to define focus styles! */
/* :focus {
	outline: 0;
} */

/* remember to highlight inserts somehow! */
/* ins {text-decoration: none;}
del {text-decoration: line-through;} */

/* tables still need 'cellspacing="0"' in the markup */
/* table {
	border-collapse: collapse;
	border-spacing: 0;
} */
