@font-face {
  font-family: 'EBGaramond';
  src: url('fonts/EBGaramond12-Regular.otf');
}

@font-face {
  font-family: 'gribouille_a';
  src: url('fonts/gribouille_a1.otf');
}

@font-face {
  font-family: 'gribouille_b';
  src: url('fonts/gribouille_b1.otf');
}

@font-face {
  font-family: 'taches_a';
  src: url('fonts/taches_a1.otf');
}

@font-face {
  font-family: 'taches_b';
  src: url('fonts/taches_b1.otf');
}

@font-face {
  font-family: 'marker';
  src: url('fonts/marker1.otf');
}

@font-face {
  font-family: 'mini';
  src: url('fonts/mini1.otf');
}

@font-face {
  font-family: 'barre';
  src: url('fonts/Garabarre_v6.otf');
}

:root {
  --background: #3D9970;
  --color: #FFDC00;
}

html {
  font-family: 'marker', serif;
  font-size: calc(1vw + 10px);
  color: var(--color);
  height: 100vh;
  width: 100vw;
}

::selection {
  color: var(--background);
  background: var(--color);
}

section {
  position: absolute;
  background: var(--background);
  /* font-family: 'barre', serif; */
  font-size: 2rem;
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texte {
  position: absolute;
  width: calc(100vw - 4rem);
}

#texte-tapé {
  /* background: transparent;
  color: transparent; */
  cursor: cell;
  font-family: monospace;
  font-size: 1rem;
  opacity: .5;
  resize: none;
  top: 1rem;
  height: calc(100vh - 6rem);
}

#texte-affiché {
  margin: auto;
  /* inset: 0; */
}

#texte-tapé::selection {
  background: var(--background);
}

.rature {
  /* color: #FF4136; */
  /* text-decoration: line-through; */
   -moz-font-feature-settings: "ss01";
   -webkit-font-feature-settings: "ss01";
   font-feature-settings: "ss01";
}

button {
  border: solid var(--color) .115em;
  color: var(--color);
  display: block;
  font-family: 'EBGaramond';
  font-size: .8em;
  font-weight: bold;
  inset: auto 1rem 1rem auto;
  isolation: isolate;
  padding: .4em .5em .1em .5em;
  position: fixed;
}

button:hover {
  color: var(--background);
  cursor: pointer;
  background: var(--color);
}

button:active {
  transform: scale(95%);
}
